body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
    width: 1280px;
    height: 1000px;
    position: relative;
}
#textreport{
  padding-left:50px;
  padding-top: 150px;
  text-align:left;
  float: none;
  display: table-cell;
  vertical-align: bottom;
  font-size:1.25em
}

.content{
  margin-bottom:20px;
}

#table1, #table2{
  padding-top: 3em;
  width: 41.6667%;
  max-width: 41.6667%;
  font-size: 1em;
}
.table td, .table th {
  padding: 0rem;
  text-align: -internal-center;
  border: 1px solid #999;
}
.table thead th{
  vertical-align: top;
}
{

}
.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.radarChart {
    left: 10px;
    top: 10px;
}



svg {
    width: 100%;
    height: 100%;
    position: center;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

text {
    font: 10px sans-serif;
    color: white;
}

text.percentage {
    font-size: 70%;
    fill: white;
}

.axisHorizontal path {
    fill: none;
}

.axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar {
    fill-opacity: .9;
}

.node circle {
    fill: #999;
}

.node text {
    font: 10px sans-serif;
}

.node--internal circle {
    fill: #555;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
